<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="font/all.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

    <link rel="stylesheet" href="css/watchMovie.css">
    <title>Document</title>
</head>

<body>
    <div style="background-color:#1b2d3c" id="app">
        {{> header }}
        {{{body}}}
        {{> footer }}
        <button onclick="topFunction()" id="btnOnScrollTop" title="Go to top">⇪</button>
    </div>
</body>


</html>