<div id="footer">
    <div class="wrapper">
        <div class="box-left">
            <div class="logo-container">
                <a href="/">PHIMMOI<i>.CUATUI</i></a>
            </div>
            <div class="phone">
                <i class="fas fa-phone-alt"></i>
                <p>(00)123456789</p>
            </div>
            <div class="mail">
                <i class="far fa-envelope"></i>
                <p>nhom5@gmail.com</p>
            </div>
            <div class="social-network">
                <div class="network-item"><i class="fab fa-facebook"></i></div>
                <div class="network-item"><i class="fab fa-twitter-square"></i></div>
                <div class="network-item"><i class="fab fa-google-plus"></i></div>
            </div>
        </div>
        <div class="box-right">
            <div class="item">
                <h4>nhóm 5 - thành viên</h4>
                <h5>trần quốc toản</h5>
                <h5>lý thiên trường</h5>
                <h5>đỗ minh tiến</h5>
            </div>
            <div class="item">
                <h4>thể loại</h4>
                <a href="">tâm lý</a>
                <a href="">hành động</a>
                <a href="">viễn tưởng</a>
                <a href="">hoạt hình</a>
                <a href="">kink dị...</a>
            </div>
            <div class="item">
                <h4>quốc gia</h4>
                <a href="">việt nam</a>
                <a href="">ấn độ</a>
                <a href="">mỹ</a>
                <a href="">hồng kông</a>
                <a href="">nhật bản...</a>
            </div>
            <div class="item">
                <h4>phim lẻ</h4>
            </div>
            <div class="item">
                <h4>phim bộ</h4>
            </div>
        </div>
    </div>
</div>