<header>
    <div id="container">
        <div style="display:none" class="menu-mobile-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo-container">
            <a href="/">PHIMMOI<i>.CUATUI</i></a>
        </div>
        <nav class="menu">
            <ul class="dropdown">
                <li><a href="/">TRANG CHỦ</a></li>
                <li>
                    <a href="#">NĂM <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu year-film">
                        <li><a href="/year/2022">năm 2022</a></li>
                        <li><a href="/year/2021">năm 2021</a></li>
                        <li><a href="/year/2020">năm 2020</a></li>
                        <li><a href="/year/2019">năm 2019</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">THẺ LOẠI <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu list_category">
                    </ul>
                </li>
                <li>
                    <a href="#">QUỐC GIA <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu list_country">
                        {{!-- <li><a href="">việt nam</a></li> --}}
                    </ul>
                </li>
                <li><a href="#xemnhieu">Xem nhiều</a></li>
            </ul>
        </nav>
        <div class="icon">
            <form method="GET" class="search" name="formSearch">
                <div class="search-input">
                    <input name="search_movie" id="search_movie" type="text" placeholder="Tên phim...">
                    <div class="autoCom-box">
                    </div>
                </div>
            </form>
            <div class="search-btn">
                <i class="fas fa-search btn" id="search-btn"></i>
            </div>
            <div class="login-btn-container">
                <i class="fas fa-user btn" id="login-btn"></i>
            </div>
        </div>
        <div class="menu-login-right">
            <div id="close-menu-btn">
                <i class="fas fa-times close-menu-btn"></i>
            </div>
            <div class="menu-nav">
            </div>
        </div>
    </div>
</header>
<script>


    const country = document.querySelector('.list_country')
    async function fetchCountryJSON() {
        const response = await fetch('http://localhost:3000/json-country');
        const cou = await response.json();
        return cou;
    }
    fetchCountryJSON()
        .then(function (cou) {
            var ht = cou.map(function (c) {
                return `
                    <li><a href="/country/${c.name}">${c.name}</a></li>
                `
            })
            country.innerHTML = ht.join('')
        })



    const categories = document.querySelector('.list_category')
    async function fetchCatJSON() {
        const response = await fetch('http://localhost:3000/json-category');
        const cat = await response.json();
        return cat;
    }
    fetchCatJSON()
        .then(function (cat) {
            var cate = cat.map(function (category) {
                return `
                    <li><a href="/categories/${category.name}" class="cat_item" data-index="${category.categoryID}" href="">${category.name}</a></li>
                `
            })
            categories.innerHTML = cate.join('')
        })




    window.onload = () => {
        const listCat = document.querySelectorAll('.cat_item')
        listCat.forEach(listItem => {
            listItem.onclick = (e) => {
                const catID = e.target.getAttribute('data-index')
            }
        })
    }

    const menuNav = document.querySelector('.menu-nav')
    let token = document.cookie;
    let sep = /\s/;
    let arr = token.split(sep);
    const name = arr[1];
    let username;
    if (name) {
        username = name.slice(5)
    }
    menuNav.innerHTML = token ? `<h3 class="username">Xin chào ${username}</h3>
    <a href="/update-info/${username}">Sửa Thông Tin</a>
            <a href="/logout">Đăng Xuất</a>` : `<a href="/login">Đăng nhập</a>
            <a href="/register">Đăng ký</a>`
    const searchId = document.getElementById('search_movie')
    const autoComBox = document.querySelector('.autoCom-box')
    const url = 'http://localhost:3000/json';
    fetch(url)
        .then(function (response) {
            return response.json();
        })
        .then(function (results1) {
            searchId.onkeyup = (e) => {
                const movieData = e.target.value;
                const arrS = results1.filter((results) => {
                    const dataF = (results.name.toLocaleLowerCase())
                    if (!movieData) {
                        return;
                    }
                    if (dataF.includes(movieData)) {
                        return dataF
                    }
                })
                var hbs = arrS.map(function (arr) {
                    return `
                        <li class="item">
                            <div class="image">
                                <img src="${arr.linkImage}"
                                    alt="">
                            </div>
                            <a href="/${arr.slug}">${arr.name}</a >
                        </li >
                    `
                })
                autoComBox.innerHTML = hbs.join('')
            }
        })
    const searchUl = document.querySelector('.search_ul')
    const formSearch = document.forms['formSearch']
    const menuMobileIcon = document.querySelector('.menu-mobile-icon')
    const menuMobile = document.querySelector('.menu')
    const subMenuLi = document.querySelectorAll('#container .menu .dropdown > li')
    const searchInput = document.querySelector('#container .icon input')
    const searchBtn = document.querySelector('.search-btn')
    const loginBtn = document.querySelector('.login-btn-container')
    const menuLoginRight = document.querySelector('.menu-login-right')
    const closeMenuBtn = document.getElementById('close-menu-btn')
    const showSearch = document.querySelector('.show')

    function check() {
        menuMobileIcon.onclick = () => {
            menuMobile.classList.toggle('active')
        }
        searchBtn.onclick = function () {
            searchInput.classList.toggle('active')
            //formSearch.action = `/ search`
            //formSearch.submit()
        }
    }
    check()


    loginBtn.onclick = () => {
        menuLoginRight.classList.add('active');
    }
    closeMenuBtn.onclick = () => {
        menuLoginRight.classList.remove('active');
    }
</script>
<style>
    .username {
        color: #fff;
        margin-top: 2rem;
    }
</style>