<div class="search-sm">
    <input type="text" placeholder="Tìm kiếm phim...">
</div>
<div class="nominated-movie">
    <div class="moninated-top">
        <div class="title">
            <div class="icon-film"><i class="fas fa-film"></i></div>
            <a href="/movie/:id">PHIM ĐỀ CỬ</a>
        </div>
        <div class="see-all">
            <span>XEM TẤT CẢ</span>
        </div>
    </div>
    <div class="moninated-content">
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img1.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img2.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img3.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img4.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img5.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img2.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img3.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img4.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
        <a href="/movie/:id" class="moninated-content-item">
            <div class="thumbnail">
                <img src="img/nominated/img5.jpg" alt="">
            </div>
            <div class="description">
                <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                <div class="author">Loki Season 1</div>
            </div>
        </a>
    </div>
    <div class="moninated-top moninated-bottom">
        <div class="title">
            <div class="icon-film"><i class="fas fa-film"></i></div>
            <a href="/movie/:id" href="">PHIM MƠI CẬP NHẬT</a>
        </div>
        <div class="see-all">
            <span>XEM TẤT CẢ</span>
        </div>
    </div>
    <div class="movie-bottom">
        <div class="moninated-content">
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img4.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img3.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img5.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img2.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img3.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img4.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img3.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img4.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
            <a href="/movie/:id" class="moninated-content-item">
                <div class="thumbnail">
                    <img src="img/nominated/img5.jpg" alt="">
                </div>
                <div class="description">
                    <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                    <div class="author">Loki Season 1</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="hot-series-movie">
    <div class="series-movie">
        <div class="series-movie-left tab-movie">
            <div class="series-movie-title">
                <h3>PHIM LẺ XEM NHIỀU NHẤT</h3>
            </div>
            <div class="series-movie-content">
                <div class="series-movie-content-first">
                    <a href="/movie/:id" class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img4.jpg" alt="">
                        </div>
                        <div class="description">
                            <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                            <div class="author">Loki Season 1</div>
                        </div>
                    </a>
                </div>
                <div class="series-movie-content-next">
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="series-movie-right tab-movie">
            <div class="series-movie-title">
                <h3>PHIM BỘ XEM NHIỀU NHẤT</h3>
            </div>
            <div class="series-movie-content">
                <div class="series-movie-content-first">
                    <a href="/movie/:id" class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img4.jpg" alt="">
                        </div>
                        <div class="description">
                            <div class="title">Loki Thần Lừa Lọc (Phần 1)</div>
                            <div class="author">Loki Season 1</div>
                        </div>
                    </a>

                </div>
                <div class="series-movie-content-next">
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                    <div class="moninated-content-item">
                        <div class="thumbnail">
                            <img src="img/nominated/img1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Loki Thần Lừa Lọc (Phần 1)</h2>
                            <h5 class="author">Loki Season 1</h5>
                        </div>
                        <div class="practice">
                            <i id="star" class="fas fa-star"></i>
                            <span>HOT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>