<div id="admin-home-page">
    <div class="wrapper">
        <div class="title">
            <h2 class="text">trang chủ admin</h2>
        </div>
        <div class="button">
            <div class="btn">
                <a href="/admin/user-manager">quản lí users</a>
            </div>
            <div class="btn">
                <a href="/admin/movie-manager">quản lí movie</a>

            </div>
        </div>
    </div>
</div>

<style>
    #admin-home-page {
        width: 100%;
        height: 100vh;
        color: #000;
        background-color: #1b2d3c;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10% 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 90%;
        background: transparent;
    }

    .title {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text {
        text-align: center;
        font-family: sans-serif;
        display: inline-block;
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2rem;
        background: linear-gradient(90deg, #d3531a, #4d8fc5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .button {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 10%;
    }

    .btn a {
        width: 100%;
        display: block;
        font-size: 3rem;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        font-weight: 600;
        padding: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background: linear-gradient(90deg, #d3531a, #4d8fc5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn {
        position: relative;
    }
</style>