@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Montserrat Alternates', sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

::selection {
  color: #d3531a; }

header {
  width: 100%;
  border-bottom: 0.1rem solid #8f7f7f; }
  header #container {
    background-color: #1b2d3c;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    header #container .menu-mobile-icon {
      font-size: 4rem;
      color: #d3531a; }
    header #container .logo-container a {
      font-size: 2.3rem;
      font-weight: 600;
      color: #fff; }
      header #container .logo-container a i {
        font-size: 2rem;
        font-weight: 500;
        color: #d3531a; }
    header #container .menu {
      width: 100%; }
      header #container .menu .dropdown {
        display: flex;
        justify-content: center; }
        header #container .menu .dropdown > li {
          display: inline-block;
          position: relative; }
          header #container .menu .dropdown > li:hover {
            background-color: #1b2d3c; }
          header #container .menu .dropdown > li > a {
            display: inline-block;
            font-size: 1.7rem;
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            margin: 0 0.5rem;
            padding: 2rem 0.5rem; }
        header #container .menu .dropdown > li .sub-menu {
          width: 450%;
          display: grid !important;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          grid-template-columns: 1fr 1fr 1fr;
          position: absolute;
          top: 105%;
          opacity: 0;
          left: 0px;
          z-index: 100;
          transition: all 0.2s ease-in-out;
          background: #1b2d3c; }
          header #container .menu .dropdown > li .sub-menu > li {
            display: inline-block; }
            header #container .menu .dropdown > li .sub-menu > li > a {
              display: block;
              font-size: 1.2rem;
              text-transform: uppercase;
              font-weight: 500;
              color: #fff;
              margin: 0 0.5rem;
              padding: 1.5rem 0.5rem; }
              header #container .menu .dropdown > li .sub-menu > li > a:hover {
                background-color: #1b2d3c;
                opacity: 0.8; }
    header #container .icon {
      display: flex;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      align-items: center;
      cursor: pointer; }
      header #container .icon .search .search-input {
        position: relative; }
        header #container .icon .search .search-input input {
          height: 3.5rem;
          border-radius: 0.8rem;
          padding: 1.2rem;
          color: rgba(255, 255, 255, 0.589);
          background-color: #8db0c7;
          border: .1rem solid #eee; }
        header #container .icon .search .search-input .autoCom-box {
          background-color: #32485a;
          overflow-y: auto;
          width: 30rem;
          max-height: 40rem;
          left: -20%;
          color: #000;
          position: absolute;
          border-radius: .5rem; }
          header #container .icon .search .search-input .autoCom-box .item {
            display: flex;
            align-items: center;
            padding: 1.5rem 1rem;
            overflow-x: auto; }
            header #container .icon .search .search-input .autoCom-box .item .image {
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              overflow: hidden; }
              header #container .icon .search .search-input .autoCom-box .item .image img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            header #container .icon .search .search-input .autoCom-box .item a {
              display: inline-block;
              flex: 1;
              font-size: 2rem;
              color: #d2dadf; }
      header #container .icon .btn {
        color: #d3531a;
        margin-left: 1.5rem; }
        header #container .icon .btn:hover {
          opacity: 0.5; }
    header #container .menu-login-right {
      position: fixed;
      width: 40rem;
      height: 100vh;
      right: -150%;
      top: 0;
      padding: 6rem;
      background-color: #081b27;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: right 0.7s ease-in-out;
      opacity: .5; }
      header #container .menu-login-right.active {
        right: 0;
        opacity: 1; }
      header #container .menu-login-right .close-menu-btn {
        position: absolute;
        top: 3%;
        left: 7%;
        font-size: 4rem;
        color: #d3531a; }
        header #container .menu-login-right .close-menu-btn:hover {
          opacity: .7;
          cursor: pointer; }
      header #container .menu-login-right .menu-nav {
        font-size: 2.5rem; }
        header #container .menu-login-right .menu-nav a {
          color: #bebebe;
          font-weight: 400;
          display: block;
          padding: 3rem 0;
          margin-top: 1rem;
          border-bottom: 0.2rem solid #bebebe; }
          header #container .menu-login-right .menu-nav a:hover {
            color: #d3531a;
            border-bottom: 0.2rem solid #d3531a; }

#container .nominated-movie {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 8rem; }
  #container .nominated-movie .moninated-bottom {
    margin-top: 3rem; }
  #container .nominated-movie .moninated-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1.7rem 0; }
    #container .nominated-movie .moninated-top .title {
      display: flex;
      align-items: center;
      font-size: 2rem; }
      #container .nominated-movie .moninated-top .title .icon-film {
        color: #d3531a;
        display: inline-block;
        font-size: 3rem; }
      #container .nominated-movie .moninated-top .title a {
        display: inline-block;
        color: #fff;
        margin-left: 0.5rem;
        font-weight: 500; }
    #container .nominated-movie .moninated-top .see-all a {
      color: #d3531a;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 400; }
  #container .nominated-movie .moninated-content {
    height: 430px;
    grid-template-rows: repeat(3, 142px);
    display: grid;
    overflow: hidden;
    gap: 0.3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    #container .nominated-movie .moninated-content .moninated-content-item {
      display: none;
      position: relative;
      cursor: pointer; }
      #container .nominated-movie .moninated-content .moninated-content-item .thumbnail {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        #container .nominated-movie .moninated-content .moninated-content-item .thumbnail img {
          filter: brightness(80%);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.2s; }
      #container .nominated-movie .moninated-content .moninated-content-itemhover img {
        transform: scale(1.5); }
      #container .nominated-movie .moninated-content .moninated-content-item .description {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: absolute;
        color: #fff;
        bottom: 7%;
        left: 0;
        padding: 0 0.5rem;
        font-size: 1.8rem;
        font-weight: 600; }
        #container .nominated-movie .moninated-content .moninated-content-item .description .author {
          font-size: 1.5rem;
          font-weight: 500; }
    #container .nominated-movie .moninated-content .moninated-content-item:first-child {
      grid-column: 1 / 3;
      grid-row: 1 /3; }
      #container .nominated-movie .moninated-content .moninated-content-item:first-child .description {
        font-size: 3rem; }
        #container .nominated-movie .moninated-content .moninated-content-item:first-child .description .author {
          font-size: 1.7rem;
          font-weight: 500; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(2) {
      grid-column: 3 / 4;
      grid-row: 1 /2; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(3) {
      grid-column: 4 / 5;
      grid-row: 1 /2; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(4) {
      grid-column: 3 / 4;
      grid-row: 2 /3; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(5) {
      grid-column: 4 / 5;
      grid-row: 2 /3; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 3 /4; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(7) {
      grid-column: 2 / 3;
      grid-row: 3 /4; }
    #container .nominated-movie .moninated-content .moninated-content-item:nth-child(8) {
      grid-column: 3 / 4;
      grid-row: 3 /4; }
    #container .nominated-movie .moninated-content .moninated-content-item:last-child {
      grid-column: 4 / 5;
      grid-row: 3 /4; }

#container .hot-series-movie {
  background-color: #1b2d3c;
  padding: 7rem 0; }
  #container .hot-series-movie .series-movie {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #container .hot-series-movie .series-movie .tab-movie {
      width: 49%;
      text-align: center;
      box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
      display: flex;
      flex-direction: column;
      border-radius: 0.4rem; }
      #container .hot-series-movie .series-movie .tab-movie .series-movie-title {
        padding: 3rem; }
        #container .hot-series-movie .series-movie .tab-movie .series-movie-title h3 {
          color: #b6b6b6;
          font-size: 2.3rem;
          font-weight: 600;
          text-align: center; }
      #container .hot-series-movie .series-movie .tab-movie .series-movie-content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1rem;
        border-radius: 0.3rem; }
        #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next {
          width: 100%;
          overflow: hidden;
          color: #f0ecec;
          height: 80rem;
          overflow-y: auto; }
          #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item {
            filter: brightness(98%);
            cursor: pointer;
            width: 100%;
            height: 12rem;
            margin: 1.5rem 0;
            display: flex;
            justify-content: space-between;
            transition: filter 1s line; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .thumbnail {
              height: 100%;
              flex-shrink: 0; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .thumbnail img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .content {
              padding: 1rem;
              flex: 1;
              text-align: left;
              line-height: 2;
              color: #f0ecec; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .content .title {
                font-size: 1.7rem;
                font-weight: bold; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .content .author {
                font-size: 1.5rem;
                font-weight: 500; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .practice {
              padding: 1rem;
              width: 6rem;
              height: 6rem;
              position: relative;
              transform: rotate(10deg); }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .practice #star {
                box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
                color: red;
                width: 100%;
                height: 100%; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item .practice span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
          #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child {
            width: 100%;
            overflow: hidden;
            height: 24rem;
            position: relative;
            cursor: pointer; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .thumbnail {
              height: 100%;
              width: 100%; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .thumbnail img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(80%);
                transition: transform 0.2s; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .content {
              position: absolute;
              left: 3%;
              bottom: 3%;
              text-align: left;
              color: #f0ecec; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .content .title {
                font-size: 2.7rem;
                font-weight: bold; }
              #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .content .author {
                font-size: 2rem;
                font-weight: 600;
                display: inline-block; }
            #container .hot-series-movie .series-movie .tab-movie .series-movie-content .series-movie-content-next .moninated-content-item:first-child .practice {
              filter: brightness(120%);
              position: absolute;
              right: 0rem;
              top: 0rem;
              padding: 0rem;
              width: 8rem;
              height: 8rem; }

#register-container {
  background-color: #1b2d3c;
  color: #000;
  width: 100%;
  height: 100vh; }
  #register-container .wrapper {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: rgba(56, 56, 58, 0.2) 0px 7px 29px 0px;
    padding: 2% 5rem 2rem; }
    #register-container .wrapper h1 {
      font-size: 3rem;
      color: #899ead;
      font-weight: bold; }
    #register-container .wrapper form input {
      width: 100%;
      height: 6rem;
      padding: 2rem;
      border: .1rem solid #899ead;
      border-radius: .5rem;
      margin-top: 3rem;
      font-size: 2rem;
      color: #1281d6;
      font-weight: 400;
      background-color: #1b2d3c7c; }
    #register-container .wrapper form button {
      width: 45%;
      height: 5rem;
      background-color: #0c1924;
      padding: 1rem;
      margin: 2rem auto 0;
      border: none;
      outline: none;
      border-radius: .6rem;
      font-size: 2.5rem;
      display: block;
      color: #e4dede;
      cursor: pointer; }
      #register-container .wrapper form button:hover {
        opacity: .6; }

#list-movies {
  min-height: 100vh;
  width: 1000px;
  margin: 0 auto; }
  #list-movies .title {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 3rem 0; }
    #list-movies .title .icon-film {
      color: #d3531a;
      display: inline-block;
      font-size: 3rem; }
    #list-movies .title a {
      display: inline-block;
      color: #fff;
      margin-left: 0.5rem;
      font-weight: 500; }
  #list-movies .list-container .list-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: .3rem;
    --margin-left:1.5rem;
    --margin-bottom:1.5rem;
    --columns:4;
    margin-left: calc(-1 * var(--margin-left)); }
    #list-movies .list-container .list-item .moninated-content-item {
      width: calc(calc(100% / var(--columns)) - var(--margin-left));
      overflow: hidden;
      position: relative;
      cursor: pointer;
      margin-left: var(--margin-left);
      margin-bottom: var(--margin-left); }
      #list-movies .list-container .list-item .moninated-content-item .thumbnail {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        #list-movies .list-container .list-item .moninated-content-item .thumbnail img {
          filter: brightness(80%);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.2s; }
      #list-movies .list-container .list-item .moninated-content-itemhover img {
        transform: scale(1.5); }
      #list-movies .list-container .list-item .moninated-content-item .description {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: absolute;
        color: #fff;
        bottom: 7%;
        left: 0;
        padding: 0 0.5rem;
        font-size: 1.8rem;
        font-weight: 600; }
        #list-movies .list-container .list-item .moninated-content-item .description .author {
          font-size: 1.5rem;
          font-weight: 500; }

#footer {
  border-top: 0.1rem solid #b9b8b8;
  padding: 1rem;
  color: #d4d4d4; }
  #footer .wrapper {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.322) 0px 4px 12px;
    width: 1000px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; }
    #footer .wrapper .box-left .logo-container a {
      font-size: 2.3rem;
      font-weight: 600;
      color: #fff; }
      #footer .wrapper .box-left .logo-container a i {
        font-size: 2rem;
        font-weight: 500;
        color: #d3531a; }
    #footer .wrapper .box-left .phone, #footer .wrapper .box-left .mail {
      display: flex;
      margin-top: 2rem;
      align-items: center; }
      #footer .wrapper .box-left .phone .fa-phone-alt, #footer .wrapper .box-left .mail .fa-phone-alt, #footer .wrapper .box-left .mail .fa-envelope {
        font-size: 2rem;
        margin-right: 1rem; }
      #footer .wrapper .box-left .phone p, #footer .wrapper .box-left .mail p {
        font-size: 1.7rem;
        letter-spacing: .2rem; }
    #footer .wrapper .box-left .mail {
      margin: 1rem 0 2rem; }
    #footer .wrapper .box-left .social-network {
      display: flex;
      justify-content: flex-start; }
      #footer .wrapper .box-left .social-network .network-item {
        margin-right: 2rem;
        font-size: 2.7rem; }
    #footer .wrapper .box-right {
      flex: 1;
      padding: 0 2rem 1rem 4rem;
      display: flex; }
      #footer .wrapper .box-right .item {
        width: calc(100% / 5);
        margin-right: 1rem; }
        #footer .wrapper .box-right .item h4 {
          font-size: 2rem;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 1rem; }
        #footer .wrapper .box-right .item a {
          color: #d8d8d8;
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-top: .5rem;
          display: block;
          font-weight: 600; }
      #footer .wrapper .box-right .item:first-child {
        width: calc(100% / 2.5); }
        #footer .wrapper .box-right .item:first-child h5 {
          text-transform: capitalize;
          color: #d8d8d8;
          font-size: 1.7rem;
          margin-bottom: .5rem; }

#update-info-container {
  padding: 4rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex: 1; }
  #update-info-container .box-left {
    width: 40%; }
    #update-info-container .box-left h3 {
      color: #fff;
      font-size: 1.9rem; }
    #update-info-container .box-left h3:last-child {
      font-weight: 300;
      margin-top: 1rem;
      font-size: 1.5rem; }
  #update-info-container .box-right {
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.116) 0px 7px 29px 0px; }
    #update-info-container .box-right #form-update {
      padding: 3rem;
      display: flex;
      flex-direction: column; }
      #update-info-container .box-right #form-update .name-info {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #update-info-container .box-right #form-update .name-info .userName, #update-info-container .box-right #form-update .name-info .name {
          width: 49%; }
          #update-info-container .box-right #form-update .name-info .userName h3, #update-info-container .box-right #form-update .name-info .name h3 {
            font-size: 2rem;
            color: #888;
            margin-bottom: .5rem; }
          #update-info-container .box-right #form-update .name-info .userName input, #update-info-container .box-right #form-update .name-info .name input {
            font-size: 2rem;
            width: 100%;
            padding: .8rem;
            border-radius: 2%; }
      #update-info-container .box-right #form-update .password, #update-info-container .box-right #form-update .email {
        margin-top: 3rem; }
        #update-info-container .box-right #form-update .password h3, #update-info-container .box-right #form-update .email h3 {
          font-size: 2rem;
          color: #888;
          margin-bottom: .5rem; }
        #update-info-container .box-right #form-update .password input, #update-info-container .box-right #form-update .email input {
          font-size: 2rem;
          width: 100%;
          padding: .8rem;
          border-radius: 2%; }
      #update-info-container .box-right #form-update .btn input {
        margin-top: 5rem;
        padding: 1rem 1.3rem;
        font-size: 2rem;
        border-radius: 10%; }

#container-update {
  color: #fff;
  width: 1000px;
  margin: auto auto;
  position: relative; }
  #container-update .wrapper {
    display: flex;
    justify-content: space-between; }
    #container-update .wrapper .boxed {
      width: 50%;
      background-color: #1b2d3c;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      #container-update .wrapper .boxed h2 {
        display: block;
        font-size: 2.5rem;
        text-align: center; }
      #container-update .wrapper .boxed ul {
        height: 40rem;
        overflow: hidden;
        overflow-y: auto; }
        #container-update .wrapper .boxed ul li {
          display: flex;
          text-align: center;
          padding: 2rem;
          position: relative; }
          #container-update .wrapper .boxed ul li input {
            width: 1.7rem;
            height: 1.7rem; }
          #container-update .wrapper .boxed ul li h4 {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            margin-left: 2rem; }
          #container-update .wrapper .boxed ul li .icon-handle-admin {
            position: absolute;
            top: 50%;
            right: 3%;
            display: flex;
            align-items: center; }
            #container-update .wrapper .boxed ul li .icon-handle-admin .icon-edit,
            #container-update .wrapper .boxed ul li .icon-handle-admin .icon_delete {
              display: inline-block;
              transform: translateY(-50%);
              font-size: 2.7rem;
              color: #d3531a;
              cursor: pointer; }
            #container-update .wrapper .boxed ul li .icon-handle-admin .icon-edit {
              font-size: 2.3rem;
              margin-right: .5rem; }
      #container-update .wrapper .boxed a {
        display: block;
        text-align: center;
        font-size: 1.7rem;
        color: #fff;
        margin-top: 2rem;
        padding: 1rem;
        background-color: #d3531a;
        font-weight: bold; }
  #container-update .box-edit,
  #container-update .box-add-actor {
    background-color: green;
    padding: 2rem;
    border-radius: .5rem;
    position: absolute;
    top: -200%;
    opacity: 0;
    transition: all .3s linear;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    #container-update .box-edit .icon-close-edit-box,
    #container-update .box-edit .icon-close-box,
    #container-update .box-add-actor .icon-close-edit-box,
    #container-update .box-add-actor .icon-close-box {
      font-size: 3rem;
      cursor: pointer; }
    #container-update .box-edit form,
    #container-update .box-add-actor form {
      border-radius: .4rem; }
      #container-update .box-edit form .title,
      #container-update .box-add-actor form .title {
        display: block;
        text-align: center;
        font-size: 2rem; }
      #container-update .box-edit form .item,
      #container-update .box-add-actor form .item {
        padding: 1rem;
        margin-bottom: 1rem; }
        #container-update .box-edit form .item label,
        #container-update .box-add-actor form .item label {
          font-weight: 600;
          display: block;
          font-size: 2rem;
          margin-bottom: .5rem; }
        #container-update .box-edit form .item input,
        #container-update .box-add-actor form .item input {
          outline: none;
          border: none;
          width: 100%;
          padding: .7rem 1rem;
          font-size: 1.7rem;
          border-radius: .4rem; }
      #container-update .box-edit form button,
      #container-update .box-add-actor form button {
        padding: .7rem;
        font-size: 1.7rem;
        font-weight: bold;
        background-color: Red;
        color: #fff;
        margin-left: 1rem;
        border: none;
        outline: none;
        cursor: pointer; }
  #container-update .box-edit.active,
  #container-update .box-add-actor.active {
    top: 42%;
    opacity: 1; }
