:root {
  --bg-primary: #202b35;
  --bg-primary2: #0c1924;
  --color-orange: #d3531a; }

.hover {
  opacity: .7; }

.display-none {
  display: none; }

.wrapper {
  background-color: var(--bg-primary); }
  .wrapper .container {
    width: 1000px;
    min-height: 850px;
    margin: 0 auto;
    color: #fff;
    padding: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0c2738; }
    .wrapper .container .header-content {
      padding: 7rem 3rem;
      display: flex;
      justify-content: space-between; }
      .wrapper .container .header-content .thumb {
        position: relative;
        width: 48%;
        overflow: hidden;
        border-radius: 1.3rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
        .wrapper .container .header-content .thumb img {
          width: 100%;
          height: 60rem;
          object-fit: cover; }
        .wrapper .container .header-content .thumb .appreciate {
          position: absolute;
          width: 100%;
          bottom: 0;
          height: 15%;
          background-color: #223570;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .wrapper .container .header-content .thumb .appreciate .star {
            display: flex;
            justify-content: center; }
            .wrapper .container .header-content .thumb .appreciate .star .appreciate_icon {
              overflow: hidden;
              width: 2rem;
              margin: 0 .1rem;
              cursor: pointer; }
              .wrapper .container .header-content .thumb .appreciate .star .appreciate_icon img {
                width: 100%;
                height: 2rem;
                object-fit: cover; }
          .wrapper .container .header-content .thumb .appreciate .mark {
            text-align: center; }
            .wrapper .container .header-content .thumb .appreciate .mark span {
              font-size: 1.3rem;
              font-weight: 400; }
      .wrapper .container .header-content .content-wrapper {
        width: 48%;
        display: flex;
        flex-direction: column; }
        .wrapper .container .header-content .content-wrapper .title {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 6rem;
          line-height: 1.4;
          font-weight: 800;
          text-transform: capitalize;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word; }
        .wrapper .container .header-content .content-wrapper .path {
          display: flex;
          align-items: center;
          padding: 1rem;
          margin: 2rem 0; }
          .wrapper .container .header-content .content-wrapper .path a {
            font-size: 3rem;
            color: #7aa6ce; }
          .wrapper .container .header-content .content-wrapper .path span > span {
            font-size: 3.5rem;
            color: #ccc3c3;
            font-weight: bold;
            text-transform: capitalize;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word; }
        .wrapper .container .header-content .content-wrapper .content-wrapper-bottom {
          margin-top: auto; }
          .wrapper .container .header-content .content-wrapper .content-wrapper-bottom #btn-control a {
            font-size: 1.8rem;
            color: #fff;
            background-color: var(--color-orange);
            margin-right: 1rem;
            padding: 1.4rem 1rem;
            border-radius: .5rem;
            cursor: pointer;
            font-weight: 600; }
          .wrapper .container .header-content .content-wrapper .content-wrapper-bottom #btn-control a:last-child {
            background-color: #3898ec; }
          .wrapper .container .header-content .content-wrapper .content-wrapper-bottom .info {
            margin-top: 4rem; }
            .wrapper .container .header-content .content-wrapper .content-wrapper-bottom .info p {
              text-transform: capitalize;
              font-size: 2rem;
              color: #fff;
              font-weight: 500;
              line-height: 1.4; }
    .wrapper .container .profile_actors {
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
      height: 30rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .wrapper .container .profile_actors .container_profile {
        width: 100%;
        height: 100%; }
        .wrapper .container .profile_actors .container_profile .actor-wrapper {
          width: 100%;
          height: 100%; }
          .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            background-color: #102538ea; }
            .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .story {
              display: block;
              width: 60%;
              padding: 2rem; }
              .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .story .name {
                margin-bottom: 1.7rem; }
                .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .story .name h3 {
                  font-size: 2.5rem;
                  margin-bottom: .7rem; }
                .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .story .name h5 {
                  font-size: 1.5rem;
                  text-transform: capitalize; }
              .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .story .desc {
                font-size: 1.6rem; }
            .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .image {
              width: 40%;
              height: 100%;
              overflow: hidden;
              border-radius: 22%; }
              .wrapper .container .profile_actors .container_profile .actor-wrapper .actor-item .image img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
    .wrapper .container .movie {
      display: none;
      margin-top: 10%;
      width: 100%; }
    .wrapper .container .movie.active {
      display: block; }
    .wrapper .container .description-movie {
      margin-top: 10%; }
      .wrapper .container .description-movie h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #bbc6ce; }
      .wrapper .container .description-movie span {
        font-size: 1.9rem;
        color: #9cabb6;
        width: 100%;
        display: block;
        max-height: 18rem;
        overflow: hidden; }
      .wrapper .container .description-movie .btn-description {
        cursor: pointer;
        color: var(--color-orange);
        font-size: 2rem;
        font-weight: 400; }
    .wrapper .container .description-movie.active {
      display: none !important; }
    .wrapper .container .description.show {
      max-height: none !important; }
    .wrapper .container .trailer-container {
      width: 80%;
      margin: 10% auto;
      display: flex;
      flex-direction: column; }
      .wrapper .container .trailer-container h1 {
        display: inline-block;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem; }
        .wrapper .container .trailer-container h1 p {
          color: var(--color-orange);
          display: inline-block;
          font-size: 3.4rem; }
