<div id="register-container">
    <div class="wrapper">
        <h1 style="font-size:3.5rem;display:block;text-align:center">
            Khôi phục tài khoản
        </h1>
        <h5 style="display:block;text-align:center" class="details">Điều này giúp chứng minh tài khoản này thuộc về bạn
        </h5>
        <form id="secret_email_form" method="post" action="/login/change-password">
            <div class="new-pass-item">
                <h3 class="title-new-password">
                    Nhập mật khẩu mới
                </h3>
                <input class="new-password" name="password" type="password" placeholder="******">
            </div>
            <div class="new-pass-item">
                <h3 class="title-new-password">
                    Xác nhận lại mật khẩu
                </h3>
                <input class="new-password" name="confirm_password" type="password" placeholder="******">
            </div>
            <button id="btn-handle-secret" type="submit">Đổi mật khẩu</button>
            {{#if message}}
            <h1>{{message}}</h1>
            {{/if}}
        </form>
    </div>
</div>
<style>
    #footer {
        display: none;
    }

    #btn-handle-secret {
        width: 48%;
        height: 5rem;
        background-color: #0c1924;
        border: none;
        outline: none;
        border-radius: .6rem;
        font-size: 2.5rem;
        display: inline-block;
        color: rgb(228, 222, 222);
        cursor: pointer;
        margin-top: 2rem;
    }

    .new-pass-item {
        margin-top: 3rem;
    }

    .new-pass-item .title-new-password {
        font-size: 2rem;
        color: #fff;
        text-transform: capitalize;
        font-weight: 400;
        display: block;
        margin: 1rem 0;
    }

    .new-password {
        margin: 0 !important;
    }

    .details {
        font-size: 2.5rem;
        color: #899ead;
        display: inline-block;
        margin-top: 2%;
    }
</style>