<div id="register-container">
    <div class="wrapper">
        <h1 style="font-size:3.5rem;">
            Khôi phục tài khoản
        </h1>
        <h5 class="details">Điều này giúp chứng minh tài khoản này thuộc về bạn</h5>
        <form class="form-handle-forget" method="post" action="/login/forgot-password-handle/secret">
            <h3>Nhập email của bạn dùng cho tài khoản này:</h3>
            <input type="email" required name="email" placeholder="VD: name@gmail.com">
            <div class="handle-form-login">
                <button type="submit">Tiếp theo</button>
            </div>
            {{#if message}}
            <h1>{{message}}</h1>
            {{/if}}
        </form>
    </div>
</div>
<style>
    .wrapper {
        display: flex;
        text-align: center;
        flex-direction: column;

    }

    .form-handle-forget {
        margin-top: 6rem;
    }

    .form-handle-forget h3 {
        font-size: 2rem;
        color: rgb(168, 168, 168);
    }


    .details {
        font-size: 2.5rem;
        color: #899ead;
        display: inline-block;
        margin-top: 2%;

    }

    #footer {
        display: none;
    }
</style>