<div id="register-container">
    <div class="wrapper">
        <h1 style="font-size:3.5rem;">
            Khôi phục tài khoản
        </h1>
        <h5 class="details">Điều này giúp chứng minh tài khoản này thuộc về bạn</h5>
        <form id="secret_email_form" method="post" action="/login/forgot-password-handle/last-step">
            <div class="header-email">
                <div class="icon_user">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="email_forget_value">{{{emailForget}}}</div>
            </div>
            <div class="pass_secret">
                <h4>Nhập mã bí mật 6 chữ số ******</h4>
                <input class="secret-form-email" name="secret" type="text" placeholder="******">
            </div>
            <button id="btn-handle-secret" type="submit">Tiếp theo</button>
        </form>
    </div>
</div>
<script>

    const secretEmailForm = document.getElementById('secret_email_form')
    const btnHandleSecretNext = document.getElementById('btn-handle-secret')
    const secretFormEmail = document.querySelector('.secret-form-email')
    btnHandleSecretNext.onclick = (e) => {

    }





</script>
<style>
    #secret_email_form button {
        width: 45%;
        height: 5rem;
        background-color: #0c1924;
        border: none;
        outline: none;
        border-radius: .6rem;
        font-size: 2.5rem;
        display: inline-block;
        color: rgb(228, 222, 222);
        cursor: pointer;
        margin-top: 2rem;
    }

    #secret_email_form .pass_secret h4 {
        font-size: 2rem;
        color: rgb(104, 103, 103);
    }

    #secret_email_form .pass_secret input {
        width: 50%;
    }

    #secret_email_form .header-email {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        border: .2rem solid #000;
        padding: 1rem;
        width: 75%;
        margin: 3rem auto;
    }

    #secret_email_form .header-email .icon_user {
        font-size: 2rem;
        color: #fff;
        margin-right: .5rem;
    }

    #secret_email_form .header-email .email_forget_value {
        margin: 0;
        font-size: 1.8rem;
        color: #fff;

    }

    #register-container .wrapper {
        display: flex;
        text-align: center;
        flex-direction: column;

    }

    .details {
        font-size: 2.5rem;
        color: #899ead;
        display: inline-block;
        margin-top: 2%;

    }

    #footer {
        display: none;
    }
</style>